{% load static %}
{% include '../header.html' %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}?v=6">
<main class="news-container">
  <h1 class="news-title">Список продуктов</h1>
      <form method="GET" action="{% url 'search' %}" style="margin: 20px 0;">
        <input 
            type="text" 
            name="s" 
            placeholder="Поиск..." 
            style="padding: 10px; width: 300px;"
        >
        <button type="submit" style="padding: 10px 20px;">
            Найти
        </button>
    </form>

  <ul class="news-list">
    {% for i in object_list %}
      <li class="news-card">

        <h3 class="news-name">{{ i.name_products }}</h3>

        <img
          class="news-image"
          src="{{ i.image.url }}"
          alt="{{ i.name_products }}"
        >

        <span class="news-date">{{ i.create_at }}</span>

        <a class="news-button" href="/products_list/{{ i.id }}/">
          Развернуть
        </a>

      </li>
    {% endfor %}
  </ul>
</main>

{% include '../footer.html' %}
