
{% load static %}

{% include '../header.html' %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}?v=4">

  <!-- Во всех двойных фигурных скобках - передаем ключ из views.py и названия поля из models.py -->

   <div class="news-detail">

    <h1 class="news-title">{{ products_id.name_products }}</h1>

    <div class="news-media">
        <img src="{{ products_id.image.url }}" alt="{{ products_id.name_products }}">
    </div>

    <p class="news-price">Цена: {{ products_id.price }} сом </p>
    <p class="news-stock">Кол-во на складе: {{ products_id.stock }} шт. </p>
    <p class="news-category">Категория: {{ products_id.type_products }}</p>

    <data class="news-date">Дата: {{ products_id.created_at }}</data>

</div>

<!-- Comments -->
<div class="comments">
  <h3 class="comments-title">Отзывы</h3>
  {% if products_id.reviews.all %}
   <ul class="comments-list">

  {% for i in products_id.reviews.all %}
    <li>
      <p class="rating">Оценка: 
        <span class="love" aria-hidden="true">
          <span class="star filled">{{ i.marks }}</span>
        </span>
      </p>

      <p class="review">Отзыв: {{ i.text}}</p>
      {% if i.is_recommended %}
        <p class="recommended" style="color: green;">
          ✔ Рекомендует продукт
        </p>
      {% else %}
        <p class="recommended" style="color: red;">
          ✘ Не рекомендует продукт
        </p>
      {% endif %}

      <p class="date">Дата: {{ i.created_at }}</p>
    </li>
    {% endfor %}

  </ul>
        {% else %}
            <p class="no-comments">Нет отзывов</p>
        {% endif %}
      

 {% include '../footer.html' %}
 