{% load static %}


  <!-- Во всех двойных фигурных скобках - передаем ключ из views.py и названия поля из models.py -->

   <div class="news-detail">

    <h1 class="news-title">{{ products_id.name_products }}</h1>

    <div class="news-media">
        <img src="{{ products_id.image.url }}" alt="{{ products_id.name_products }}">
    </div>

    <p class="news-price">Цена: {{ products_id.price }} сом </p>
    <p class="news-stock">Кол-во на складе: {{ products_id.stock }} шт. </p>
    <p class="news-category">Категория: {{ products_id.type_products }}</p>

    <data class="news-date">Дата: {{ products_id.create_at }}</data>

</div>

<!-- Comments -->
<div class="comments">
  <h3 class="comments-title">Отзывы</h3>
  {% for i in products_id.review.all %}
  <ul>
    <li>
      <p class="rating">Оценка: 
        <span class="stars" aria-hidden="true">
          <span class="star filled">{{ i.marks }}</span>
        </span>
      </p>

      <p class="review">Отзыв: {{ i.name_products }}</p>

      <p class="date">Дата: {{ i.create_at }}</p>
    </li>

  </ul>
  {% endfor %}
</div>